/* App.css */
body {
  color: #FFFFFF; /* White text */
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; /* Example font */
  margin: 0; /* Ensure no margin */
  display: flex; /* Flexbox layout */
  flex-direction: column; /* Column layout */
  min-height: 100vh; /* Full viewport height */
}
html, body {
  height: 100%;
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  flex: 1; /* Ensure it takes the remaining space */
}

.container {
  max-width: 960px;
  margin: 0 auto;
  padding: 20px;
}

.title {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 1rem;
}

.description {
  font-size: 1.2rem;
  margin-bottom: 1rem;
}

@keyframes gradientMove {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.moving-gradient {
  background: linear-gradient(270deg, #e0c3fc, #8ec5fc, #e0c3fc);
  background-size: 200% 200%;
  animation: gradientMove 8s ease infinite;
}

@keyframes shimmer {
  0% {
    background-position: -100% 0;
  }
  100% {
    background-position: 100% 0;
  }
}

.shimmer {
  background: linear-gradient(
    to right,
    #f6f7f8 0%,
    #eaeaea 20%,
    #f6f7f8 40%,
    #f6f7f8 100%
  );
  background-size: 200% 100%;
  animation: shimmer 1.5s infinite linear;
}
@media (min-width: 640px) {
  .chat-container {
    padding: 12px;
  }
}
@media (min-width: 1024px) and (orientation: landscape) {
  .chat-container {
    padding: 16px;
  }
}
